spring:
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    gateway:
      routes:
        - id: kestreloj-backend-user-service
          uri: lb://kestreloj-backend-user-service
          predicates:
            - Path=/api/user/**
        - id: kestreloj-backend-question-service
          uri: lb://kestreloj-backend-question-service
          predicates:
            - Path=/api/question/**
        - id: kestreloj-backend-judge-service
          uri: lb://kestreloj-backend-judge-service
          predicates:
            - Path=/api/judge/**
  application:
    name: kestreloj-backend-gateway
  main:
    web-application-type: reactive
server:
  port: 8101
knife4j:
  gateway:
    enabled: true

    strategy: discover
    discover:
      enabled: true
      version: swagger2



